.home_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.home_container img {
    margin-top: 5%;
    filter: grayscale(100%);
}

.home_container img:hover {
    transition: 1s;
    filter: grayscale(0%);
}

.home_container p {
    color: white;
}

@media only screen and (max-width: 600px) {
    .home_container img {
        width: 100%;
    }

    .home_container {
        flex-wrap: wrap;
    }
}